<h1>Edit a Landmark:</h1>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
<input type="hidden" name="_method" value="patch">
  <label>Name:</label>
  <p>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">
  </p>

  <label>Year Completed:</label>
  <p>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>">
  </p>  

  <input type="submit" value="Edit Landmark">
</form>