<h1>Create a new Landmark:</h1>

<form action="/landmarks" method="POST">
  <label>Name:</label>
  <p>
  <input type="text" name="landmark[name]" id="landmark_name">
  </p>

  <label>Year Completed:</label>
  <p>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  </p>  

  <input type="submit" value="Create New Landmark">
</form>
